{% extends "base.html" %}

{% block cuerpo %}
<div class="row">
    <div class="col-md-4 ofset-md-4"><!--fila en editar-->
        <h2>Editar Materia </h2>
        <!--codigo tarjeta-->
        <div class="card"><!--la tarjeta-->
            <div class="card-body">
                <form action="/editarMateria/" method="POST"> {% csrf_token %}
                    <div class="from-group">
                        <input type="text" id="txtcodigo" name="txtcodigo" class="form-control" value="{{mismaterias.codigo}}"
                        minlenght="1" maxlenght="6" readonly required>
                    </div>

                    <div class="from-group py-3">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{mismaterias.nombre}}"
                        maxlenght="100" required>
                    </div>

                    <div class="from-group py-2">
                        <input type="text" id="numcreditos" name="numcreditos"  class="form-control"
                        min="1" max="9" value="{{mismaterias.creditos}}" required>
                    </div>

                    <div class="from-group py-2">
                        <button type="submit" class="btn btn-info">Guardar Materia</button>
                    </div>
                </form>
            </div>
        </div><!--la tarjeta-->
</div>
    </div>
</div>

{% endblock %}