{% extends "base.html" %}

{% block cuerpo %}
    <div class="row"> <!--la fila-->
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!--columna izquierda-->
            <h1>Mama </h1>
                <div class="card"><!--la tarjeta-->
                    <div class="card-body">
                        <form action="registrarMateria/" method="POST"> {% csrf_token %}
                            <div class="from-group">
                                <input type="text" id="txtcodigo" name="txtcodigo" placeholder="Codigo materia" minlenght="1" maxlenght="6" required>
                            </div>

                            <div class="from-group py-3">
                                <input type="text" id="txtnombre" name="txtnombre" placeholder="Nombre materia" maxlenght="100" required>
                            </div>

                            <div class="from-group py-2">
                                <input type="text" id="numcreditos" name="numcreditos" min="1" max="9" value="1" required>
                            </div>

                            <div class="from-group py-2">
                                <button type="submit" class="btn btn-info">Guardar Materia</button>
                            </div>
                        </form>
                    </div>
                </div><!--la tarjeta-->
        </div><!--columna izquierda-->

        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!--columna derecha-->
            <h1>Listado Materias </h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Creditos</th>
                </tr>
                </thead>
                <tbody>
                    {% for m in mismaterias %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{m.codigo}}</td>
                        <td>{{m.nombre}}</td>
                        <td>{{m.creditos}}</td>
                    </tr>    
                    {% endfor %}
                </tbody>
            </table>
        </div><!--columna derecha-->
    </div> <!--la fila-->
{% endblock %}